
.mini-calendario{
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.sqr-calendario{
    display: flex;
    flex-wrap: wrap !important; 
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    border: 0.5px solid #eeeeee;
}

.sqr-calendario div{
    width: calc(200px/7.1);
    height: 25px;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    font-weight: bold;
}

select{
    border: 0;
    margin: 2px !important;
    display: flex;
    width: 98px !important;
}