
* {
    font-family: 'Fira Sans', sans-serif;
}

.barra-img{
    height: 20px !important;
    margin: 0 !important;
    object-fit: cover;
    padding: 0 !important;
    position: relative !important;
    width: 100vw !important;
}

.mini-calendario{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 200px;
}

.sqr-calendario{
    align-items: center;
    border: 0.5px solid #eeeeee;
    display: flex;
    flex-wrap: wrap !important; 
    flex-direction: row !important;
    justify-content: flex-start;
}

.sqr-calendario div{
    align-items: center;
    display: flex;
    flex-direction: row !important;
    font-size: 0.7em;
    font-weight: bold;
    height: 25px;
    justify-content: center;
    width: calc(200px/7.1);
}

select{
    border: 0;
    display: flex;
    margin: 2px !important;
    width: 98px !important;
}

#macro-calend > div > span{
    font-weight: bold;
}

#macro-calend > div{
    position: relative;
    text-align: center;
    width: calc(100% / 7) !important;
}

.sqr-macro-calendario{
    border: 0.5px solid #eeeeee;
    display: flex;
    flex-wrap: wrap !important; 
    flex-direction: row !important;
    justify-content: flex-start;
}

.sqr-macro-calendario > div{
    color: #a9a9a9;
    display: flex;
    font-size: 1em;
    font-weight: bold;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    height: calc(100vh / 7.2) !important;
    justify-content: center;
    text-align: center !important;
    width: calc(100% / 7) !important;
}

.sqr-macro-calendario > div > span {
    padding: 5px;
}