
* {
    font-family: 'Fira Sans', sans-serif;
}
.mascara{
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0, 0.6) 0%, rgb(0, 0, 0, 0.6) 40%, rgba(0,0,0,0) 100%);
    height: 116px !important;
    position: absolute;
    z-index: 1000;
    left: 0;
    width: 40vw;
}
.barra-img{
    height: 116px !important;
    right: 0 !important;
    margin: 0 !important;
    object-fit: cover;
    object-position: center;
    padding: 0 !important;
    position: absolute !important;
    width: 100vw !important;
    z-index: 3;
}

.titulo{
    color: white !important;
    z-index: 2000;
}

.barra-evento{
    width: 250px;
}

.mini-calendario{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 200px;
}

.sqr-calendario{
    align-items: center;
    border: 0.5px solid #eeeeee;
    display: flex;
    flex-wrap: wrap !important; 
    flex-direction: row !important;
    justify-content: flex-start;
}

.sqr-calendario div{
    align-items: center;
    display: flex;
    flex-direction: row !important;
    font-size: 0.7em;
    font-weight: bold;
    height: 25px;
    justify-content: center;
    width: calc(200px/7.1);
}

.sqr-calendario > div > a {
    border-radius: 10px;
    color: #313131;
    font-weight: 400;
    height: 20px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    transition: 250ms;
    width: 20px;
}

.sqr-calendario > div > a:hover {
    background-color: #e6e6e6;
    color: #000000;
}

select{
    border: 0;
    display: flex;
    margin: 2px !important;
    width: 98px !important;
}

#macro-calend{
    font-size: 0.8em;
}

#macro-calend > div > span{
    font-weight: bold;
}

#macro-calend > div{
    position: relative;
    text-align: center;
    width: calc(100% / 7) !important;
}

.sqr-macro-calendario{
    border: 0.5px solid #eeeeee;
    display: flex;
    flex-wrap: wrap !important; 
    flex-direction: row !important;
    justify-content: flex-start;
}

.sqr-macro-calendario > div{
    border-style: dotted;
    border-width: 0.5px;
    border-color: #e5e5e5 !important;
    border-left: 0.5px !important; 
    border-top: 1px !important;
    color: #a9a9a9;
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    font-size: 1em;
    font-weight: bold;
    height: calc(100vh / 6.33) !important;
    justify-content: center;
    text-align: center !important;
    width: calc(100% / 7) !important;
}

.sqr-macro-calendario > div > a {
    border-radius: 15px;
    color: #a0a0a0;
    margin-top: 2px;
    font-size: 0.8em;
    font-weight: 400;
    height: 25px;
    padding: 3px;
    text-decoration: none;
    transition: 250ms;
    width: 25px;
}

.sqr-macro-calendario > div > a:hover {
    background-color: #e6e6e6;
    color: #575757;
}

.agenda > div {
    width: 250px;
    max-width: 250px !important;
    min-width: 200px !important;
}

.agenda > div > a{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 100% !important;
    text-decoration: none;
    color: black;
    text-align: left !important;
    padding: 6px 10px 2px 10px;
    border-bottom: 1px solid #e6e6e6;
    transition: 250ms;
}

.agenda > div > a:hover{
    background-color: #e6e6e6;
}

.agenda > div > a > div{
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: blue;
}

.agenda > div > a > span{
    padding-left: 10px;
    font-weight: 300 !important;
    font-size: 1em;
}

.hora {
    font-weight: 400;
    font-size: 0.8em !important;
    color: #535353;
}

#agenda-btn {
    right: 0;
    height: 60px;
    padding: 10px 0;
}